/.azk
/resources/public/scss/main/vendor/_ogmina-icons-rails.scss
/resources/public/sprite
/resources/public/fonts
/.fontcustom-manifest.json
/resources/public/vendor
/node_modules
/bower_components
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/docker/data
/vendor/
/web/assetic/
/web/banners/
/web/bundles/
/web/components/
/web/js/
/web/public/
/web/silvestra_media/
/web/node_files/
/web/sitemap/
.idea
.vagrant
cache.properties
phpstorm-code-style-settings.jar
