/bower_components
/web/js
/web/fonts
/.idea
._*
.DS_Store
.vagrant

# Symfony
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor
/bin/
/composer.phar

# Yeoman
/node_modules
.tmp
web/libs
web/dist
web/css
app/dist
/.sass-cache
