{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <div id="status">
                <p>
					<i class="icon icon-logo"></i>

                    Your application is now ready. You can start working on it at:
                    <code>{{ base_dir }}/</code>
                </p>
            </div>

            <div id="next">
                <h2>Vue.js included???</h2>
                <p>
                    <a href="#ajax-posible" @click.prevent="greet" data-toggle="modal" data-target="#myModal">Click me</a>
                    <input type="text" v-model="value">
                    <div v-for="item in items">
                        ${ item.message }
                    </div>
                    <div>${ value }</div>
                </p>
                <h2><i class="icon icon-book"></i> What's next?</h2>
                <p>
                    <img class="sprite bulet-red" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                    <img class="sprite bulet-blue" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                    <img class="sprite bulet-orange" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                    <img class="sprite bulet-black" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">

                     Read the documentation to learn

                    <a href="http://symfony.com/doc/{{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION')[:3] }}/book/page_creation.html">
                        How to create your first page in Symfony
                    </a>
                </p>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
