%svg-common {
	background: url("../../img/svg_sprite-07cacb3d.svg") no-repeat;
}

.svg-book {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-book-dims {
	width: 64px;
	height: 64px;
}

.svg-logo {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-logo-dims {
	width: 64px;
	height: 64px;
}

